body {
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;

    font-family: Arial, sans-serif;
}

 h1 {
    text-align: center;
}

.form {
    width: 340px;

    margin: 0 auto;
}

.lastResult {
    padding: 3px;

    color: white;
}